In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mp
import seaborn as sns
import numpy as np

In [38]:
df_ = pd.read_csv("netflix_shows.csv")

##### Changing column names

In [73]:
df_.columns = ['title', 'rating', 'ratingLevel', 'ratingDescription', 'release_year',
       'user_rating_score', 'user_rating_size']

In [74]:
df_.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release_year',
       'user_rating_score', 'user_rating_size'],
      dtype='object')

##### Listing Datatypes

In [75]:
df_.dtypes

title                 object
rating                object
ratingLevel           object
ratingDescription      int64
release_year           int64
user_rating_score    float64
user_rating_size       int64
dtype: object

#### 1 How many movies are there per rating?

In [76]:
df_['rating'].value_counts().sort_values(ascending= False).head(11)

TV-14       234
PG          170
TV-MA       148
G           138
TV-Y         68
TV-PG        59
TV-G         52
TV-Y7-FV     44
TV-Y7        38
R            19
PG-13        15
Name: rating, dtype: int64

#### 2 The average User rating score/size for each rating.

In [77]:
df_.groupby('rating')['user_rating_score','user_rating_size'].mean()

/var/folders/pg/6p7fw10j1155dz2t00ntst440000gn/T/ipykernel_74655/1192257847.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_.groupby('rating')['user_rating_score','user_rating_size'].mean()

          user_rating_score  user_rating_size
rating
G                 77.245614         81.173913
NR                87.000000         81.428571
PG                86.201681         80.558824
PG-13             74.000000         80.533333
R                 87.111111         81.052632
TV-14             86.425532         80.393162
TV-G              74.500000         81.076923
TV-MA             88.520833         80.702703
TV-PG             85.857143         80.576271
TV-Y              75.600000         81.264706
TV-Y7             73.928571         81.263158
TV-Y7-FV          75.312500         81.272727
UR                      NaN         82.000000

2 The Max User rating score/size for each rating.

In [78]:
df_.groupby('rating')['user_rating_score','user_rating_size'].max()

/var/folders/pg/6p7fw10j1155dz2t00ntst440000gn/T/ipykernel_74655/1005508422.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_.groupby('rating')['user_rating_score','user_rating_size'].max()

          user_rating_score  user_rating_size
rating
G                      96.0                82
NR                     97.0                82
PG                     98.0                82
PG-13                  89.0                82
R                      97.0                82
TV-14                  98.0                82
TV-G                   90.0                82
TV-MA                  99.0                82
TV-PG                  98.0                82
TV-Y                   82.0                82
TV-Y7                  88.0                82
TV-Y7-FV               88.0                82
UR                      NaN                82

#### 2 The Min User rating score/size for each rating.

In [79]:
df_.groupby('rating')['user_rating_score','user_rating_size'].min()

/var/folders/pg/6p7fw10j1155dz2t00ntst440000gn/T/ipykernel_74655/2355962918.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_.groupby('rating')['user_rating_score','user_rating_size'].min()

          user_rating_score  user_rating_size
rating
G                      55.0                80
NR                     57.0                80
PG                     57.0                80
PG-13                  56.0                80
R                      77.0                80
TV-14                  58.0                80
TV-G                   58.0                80
TV-MA                  56.0                80
TV-PG                  55.0                80
TV-Y                   67.0                80
TV-Y7                  65.0                80
TV-Y7-FV               56.0                80
UR                      NaN                82

In [ ]:
# plt.figure(figsize=(14,6))
# sns.countplot(x='type', data=df)
# plt.xlabel('Type of Shows')
# plt.ylabel('Count of Shows')
# plt.title('Total Show count according to type')

#### 3 How many movies have drug content?

In [106]:
Drugs = df_.ratingLevel.str.contains(r'drug')
Drugs.count()

941

#### 3 What are the average ratings of the movies that have drug content?

In [112]:
df_['Drugs'].groupby('ratingLevel')

KeyError: 'Drugs'